.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  max-height: 100dvh;
}

@media (max-width: 600px) {
  .page {
    grid-template-columns: 1fr;
  }
}

.form {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
