@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.custom-input::-webkit-input-placeholder {
  color: #696969; /* For WebKit-based browsers (Chrome, Safari) */
}

.custom-input:-moz-placeholder {
  color: #696969; /* For Firefox 18- */
}

.custom-input::-moz-placeholder {
  color: #696969; /* For Firefox 19+ */
}

.custom-input:-ms-input-placeholder {
  color: #696969; /* For Internet Explorer 10+ */
}


input:focus{
  outline: none;
}


